/* RESET */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}


html,
body {
    height: 100%;
}


body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}


img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}


input,
button,
textarea,
select {
    font: inherit;
}


p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style-type: none;
}

:root {
    --satoshi-font: 'Satoshi', sans-serif;

    --font-64px: 4rem;
    --font-48px: 3rem;
    --font-40px: 2.5rem;
    --font-36px: 2.25rem;
    --font-32px: 2rem;
    --font-24px: 1.5rem;
    --font-22px: 1.375rem;
    --font-20px: 1.25rem;
    --font-18px: 1.125rem;
    --font-16px: 1rem;
    --font-14px: 0.875rem;

    --font-color-white: hsl(0, 0%, 98%);
    --font-color-subtle: hsl(0, 0%, 75%);
    --font-color-inactive: hsl(0, 0%, 40%);
    --font-color-black: hsl(0, 0%, 16%);

    --font-weight-black: 900;
    --font-weight-bold: 700;
    --font-weight-medium: 500;
    --font-weight-regular: 400;

    --color-light: hsl(0, 0%, 100%);
    --color-dark: hsl(0, 0%, 16%);
    --color-primary: hsl(3, 73%, 46%);
    /* --color-primary-light: hsl(234, 83%, 79%); */
    --color-gray: hsl(0, 0%, 35%);
    --color-gray-hover: #4B4B4B;
    --color-modal: hsl(0, 0%, 18%);
    --color-background-modal: hsla(0, 0%, 8%, 0.34);
}



/* ESTILOS GENERALES */
body {
    background: var(--color-dark);
    font-family: var(--satoshi-font);
    color: var(--font-color-white);
}


/*Tipografía*/
.h1 {
    font-size: var(--font-48px);
    font-weight: var(--font-weight-bold);
    color: var(--font-color-white);
}

.results {
    font-size: var(--font-16px);
    color: var(--font-color-subtle);
    font-weight: var(--font-weight-regular);
}

.pill-text {
    font-size: var(--font-16px);
    font-weight: var(--font-weight-medium);
    color: var(--font-color-white);
}

.nav-p {
    font-size: var(--font-18px);
    font-weight: var(--font-weight-medium);
}

a {
    color: var(--font-color-white);
}

/*Colores (tipografía)*/

/*Colores*/

/*Espaciado*/
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}



/* INDEX (Home) */
/* NAVBAR */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: 20px 0 50px 0;
}

.streamberry-logo {
    width: 130px;
    height: auto;
}

.navbar>li:first-child {
    display: none;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 4px;
}

.nav-item>svg {
    width: 32px;
    height: 32px;
}

.nav-item>p {
    display: none;
}

@media screen and (min-width: 600px) {

    .navbar {
        margin: 60px 0 54px 0;
    }

    .streamberry-logo {
        width: 200px;
    }

    .navbar>li:first-child {
        display: list-item;
        opacity: 0;
    }

    .nav-item>p {
        display: block;
    }
}

/* BUSCADOR (Input) */
#search-movie {
    width: 100%;
    max-width: 485px;
    margin: 0 auto;
}

#search-movie>label {
    position: absolute;
    overflow: hidden;
    text-indent: -9999px;
}

#search-movie>input {
    width: 100%;
    padding: 16px 56px 16px 20px;

    color: var(--font-color-black);

    border: none;
    border-radius: 8px;

    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' fill='none'%3E%3Cpath fill='%23666' fill-rule='evenodd' d='M22.038 9.5C15.113 9.5 9.5 15.113 9.5 22.038c0 6.924 5.613 12.537 12.538 12.537a12.49 12.49 0 0 0 8.309-3.149l6.85 6.85a.763.763 0 0 0 1.08-1.079l-6.85-6.85a12.49 12.49 0 0 0 3.148-8.31c0-6.924-5.613-12.537-12.537-12.537ZM11.026 22.038c0-6.082 4.93-11.012 11.012-11.012 6.081 0 11.01 4.93 11.01 11.012 0 6.081-4.929 11.01-11.01 11.01-6.082 0-11.012-4.929-11.012-11.01Z' clip-rule='evenodd'/%3E%3C/svg%3E") no-repeat;
    background-position: center right 16px;
    background-size: 30px 30px;
    background-color: var(--color-light);

}

/* EXPLORAR (Cards) */
.filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    overflow-x: scroll;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.filters::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.pill {
    display: inline-block;
    background-color: var(--color-gray);
    border-radius: 7px;
    padding: 5px 18px 5px 18px;
}

.selected {
    background-color: var(--color-primary);
}






/* FOOTER */
footer {
    border-top: 1.5px solid #4d4d4d;
    color: var(--font-color-subtle);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 25px;

    margin: 3.75rem auto 0 auto;
    padding: 40px 0 40px 0;
}

.footer-credits {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.footer-credits>p {
    text-align: center;
}

.footer-socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.socials-svg {
    background-color: var(--color-gray);
    padding: 10px;
    border-radius: 16px;
    transition: background-color linear 240ms;
}

.socials-svg:hover {
    background-color: var(--color-gray-hover);
}

@media screen and (min-width: 600px) {
    footer {
        flex-direction: row;
        gap: 0;
    }

    .footer-credits {
        align-items: flex-start;
    }

    .footer-credits>p {
        text-align: left;
    }
}




@media screen and (min-width: 600px) {}

@media screen and (min-width: 1024px) {}